a.badge.badge-primary {
    float: right;
    margin: 10px;
}

.validation-error {
    top: 100%;
    z-index: 5;
    max-width: 100%;
    padding: .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(220, 53, 69, .8);
    border-radius: .2rem;
}

.container.index {
    max-width: 810px;
}

.container h2 {
    margin: 10px 0;
}

#action-bar .col {
    margin: 0;
    padding: 0;
}

#action-bar a {
    margin: 8px 0;
}

#action-bar {
    padding: 0;
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
}

.login-form {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h3 {
    text-align: center;
    color: #333;
}

.login-container form {
    padding: 5%;
}

.etc-login-form {
    text-align: center;
    margin-bottom: 0;
}

.auth-email {
    padding: 0 1em;
}
.card {
    margin-top: 30px;
    background: lightgray;
    width: 1000px;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.details {
    height: 100%;
    width: 60%;
}
.image {
    width: 40%;
    height: 100%;
}
.image img{
    width: auto;
    height: 100%;
}
.file {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.title {
    padding: 10px;
    font-size: 24px;
}

.description {
    padding: 10px;
    font-size: 20px;
    height: max-content;
}
.signature {
    padding: 5px;
    font-size: 15px;
    text-align: left;
}
